
##Importación de librerías y lectura de datos

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [229]:
df = pd.read_csv ('/content/drive/MyDrive/Ironhack/Archivos/attacks.csv', encoding = 'latin-1')

In [230]:
df[30:33]

     Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
30    2018.04.14           14-Apr-2018  ...          NaN         NaN
31  2018.04.10.R  Reported 10-Apr-2018  ...          NaN         NaN
32    2018.04.09           09-Apr-2018  ...          NaN         NaN

[3 rows x 24 columns]

In [232]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

##Arreglar nombres de columnas

In [235]:
column_names=df.columns
column_names

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [236]:
df.columns = df.columns.str.strip() #parece que sólo tiene sex, pero puede que otro
column_names 
#len(column_names)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

##Exploración de datos

In [237]:
df.shape

(25723, 24)

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

####Porcentaje de nulos

In [239]:
df.isnull().sum()/len(df)

Case Number               0.661704
Date                      0.755005
Year                      0.755083
Type                      0.755161
Country                   0.756949
Area                      0.772694
Location                  0.775998
Activity                  0.776154
Name                      0.763169
Sex                       0.776970
Age                       0.865062
Injury                    0.756094
Fatal (Y/N)               0.775959
Time                      0.885394
Species                   0.865335
Investigator or Source    0.755666
pdf                       0.755005
href formula              0.755044
href                      0.755005
Case Number.1             0.755005
Case Number.2             0.755005
original order            0.754733
Unnamed: 22               0.999961
Unnamed: 23               0.999922
dtype: float64

Consideré que uno de los campos más importantes era el registro de caso, por lo que decidí asignarlo a una variable y ver el conenido de sus nulos contenido

In [240]:
is_null_casenumber = df[df['Case Number'].isnull() == True]
is_null_casenumber

      Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
5488          NaN  Reported 06-Sep-1905  ...          NaN         NaN
8702          NaN                   NaN  ...          NaN         NaN
8703          NaN                   NaN  ...          NaN         NaN
8704          NaN                   NaN  ...          NaN         NaN
8705          NaN                   NaN  ...          NaN         NaN
...           ...                   ...  ...          ...         ...
25717         NaN                   NaN  ...          NaN         NaN
25718         NaN                   NaN  ...          NaN         NaN
25719         NaN                   NaN  ...          NaN         NaN
25720         NaN                   NaN  ...          NaN         NaN
25721         NaN                   NaN  ...          NaN         NaN

[17021 rows x 24 columns]

In [241]:
is_null_casenumber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17021 entries, 5488 to 25721
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             0 non-null      object
 1   Date                    1 non-null      object
 2   Year                    1 non-null      float64
 3   Type                    1 non-null      object
 4   Country                 1 non-null      object
 5   Area                    1 non-null      object
 6   Location                1 non-null      object
 7   Activity                1 non-null      object
 8   Name                    1 non-null      object
 9   Sex                     1 non-null      object
 10  Age                     0 non-null      object
 11  Injury                  1 non-null      object
 12  Fatal (Y/N)             1 non-null      object
 13  Time                    0 non-null      object
 14  Species                 0 non-null      object
 15  Investigator or Source  1 non-null      object
 16  pdf                     1 non-null      object
 17  href formula            1 non-null      object
 18  href                    1 non-null      object
 19  Case Number.1           1 non-null      object
 20  Case Number.2           1 non-null      object
 21  original order          1 non-null      float64
 22  Unnamed: 22             0 non-null      object
 23  Unnamed: 23             0 non-null      object
dtypes: float64(2), object(22)
memory usage: 3.2+ MB

In [242]:
#Veo el único caso que no tiene todo nulo
is_null_casenumber[is_null_casenumber['Date'].isnull() == False]

     Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
5488         NaN  Reported 06-Sep-1905  ...          NaN         NaN

[1 rows x 24 columns]

In [243]:
#consulto el caso en el df general
df[5488:5489]

     Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
5488         NaN  Reported 06-Sep-1905  ...          NaN         NaN

[1 rows x 24 columns]

In [244]:
#cambio ese dato a 0 en el df original para no eliminarlo
df.at[5488,'Case Number']=00000
df[5488:5489]

     Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
5488           0  Reported 06-Sep-1905  ...          NaN         NaN

[1 rows x 24 columns]

In [245]:
#Quito los Case Number nulos del original y compruebo nuevo tamaño
df = df.drop(df[df['Case Number'].isnull()==True].index,axis = 0)

In [246]:
df.shape

(8703, 24)

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8703 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.7+ MB

Porcentaje de datos en Case Number.1 y .2 que están en Case Number y cantidad de datos nulos

In [248]:
print(df['Case Number'].isin(df['Case Number.1']).value_counts()/len(df))
print(df['Case Number'].isin(df['Case Number.1']).value_counts())

True     0.72136
False    0.27864
Name: Case Number, dtype: float64
True     6278
False    2425
Name: Case Number, dtype: int64

In [249]:
print(df['Case Number'].isin(df['Case Number.2']).value_counts()/len(df))
print(df['Case Number'].isin(df['Case Number.2']).value_counts())

True     0.723659
False    0.276341
Name: Case Number, dtype: float64
True     6298
False    2405
Name: Case Number, dtype: int64

In [250]:
df [['Case Number', 'Case Number.2', 'Case Number.1']].isnull().sum()

Case Number         0
Case Number.2    2401
Case Number.1    2401
dtype: int64

In [251]:
type(df)

pandas.core.frame.DataFrame

In [252]:
df = df.drop(["Case Number.1","Case Number.2"], axis=1)

In [253]:
df.head(3)

  Case Number         Date    Year  ... original order Unnamed: 22 Unnamed: 23
0  2018.06.25  25-Jun-2018  2018.0  ...         6303.0         NaN         NaN
1  2018.06.18  18-Jun-2018  2018.0  ...         6302.0         NaN         NaN
2  2018.06.09  09-Jun-2018  2018.0  ...         6301.0         NaN         NaN

[3 rows x 22 columns]

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8703 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  original order          6309 non-null   float64
 20  Unnamed: 22             1 non-null      object
 21  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(20)
memory usage: 1.5+ MB

In [255]:
#Veo si href está contenido en href formula y lo elimino si el porcentaje de no contenidos es muy bajo
print(df['href formula'].isin(df['href']).value_counts()/len(df))

True     0.993221
False    0.006779
Name: href formula, dtype: float64

In [256]:
df = df.drop(['href formula'], axis =1)

In [257]:
#df.info()
df[df['original order'].isnull()==True]

      Case Number Date  Year Type  ... href original order Unnamed: 22 Unnamed: 23
6309            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
6310            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
6311            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
6312            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
6313            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
...           ...  ...   ...  ...  ...  ...            ...         ...         ...
8698            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
8699            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
8700            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
8701            0  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN
25722          xx  NaN   NaN  NaN  ...  NaN            NaN         NaN         NaN

[2394 rows x 21 columns]

In [258]:
#Quitaré los nulos de original order que es el número más grande de nulos
8703 - 2394

6309

In [260]:
df = df.drop(df[df['original order'].isnull()==True].index,axis = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6309 entries, 0 to 6308
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6309 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href                    6302 non-null   object
 18  original order          6309 non-null   float64
 19  Unnamed: 22             1 non-null      object
 20  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(19)
memory usage: 1.4+ MB

In [261]:
df.head(3)

  Case Number         Date    Year  ... original order Unnamed: 22 Unnamed: 23
0  2018.06.25  25-Jun-2018  2018.0  ...         6303.0         NaN         NaN
1  2018.06.18  18-Jun-2018  2018.0  ...         6302.0         NaN         NaN
2  2018.06.09  09-Jun-2018  2018.0  ...         6301.0         NaN         NaN

[3 rows x 21 columns]

In [262]:
np.where(df['Date'].isnull())[0]

array([6302, 6303, 6304, 6305, 6306, 6307, 6308])

In [264]:
df[6302:6309]

     Case Number Date  Year Type  ... href original order Unnamed: 22 Unnamed: 23
6302           0  NaN   NaN  NaN  ...  NaN         6304.0         NaN         NaN
6303           0  NaN   NaN  NaN  ...  NaN         6305.0         NaN         NaN
6304           0  NaN   NaN  NaN  ...  NaN         6306.0         NaN         NaN
6305           0  NaN   NaN  NaN  ...  NaN         6307.0         NaN         NaN
6306           0  NaN   NaN  NaN  ...  NaN         6308.0         NaN         NaN
6307           0  NaN   NaN  NaN  ...  NaN         6309.0         NaN         NaN
6308           0  NaN   NaN  NaN  ...  NaN         6310.0         NaN         NaN

[7 rows x 21 columns]

In [266]:
df = df.drop(df[df['Date'].isnull() == True].index, axis=0)

In [267]:
df.tail()

     Case Number         Date  Year  ... original order Unnamed: 22 Unnamed: 23
6297     ND.0005  Before 1903   0.0  ...            6.0         NaN         NaN
6298     ND.0004  Before 1903   0.0  ...            5.0         NaN         NaN
6299     ND.0003    1900-1905   0.0  ...            4.0         NaN         NaN
6300     ND.0002    1883-1889   0.0  ...            3.0         NaN         NaN
6301     ND.0001    1845-1853   0.0  ...            2.0         NaN         NaN

[5 rows x 21 columns]

In [268]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6302 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href                    6302 non-null   object
 18  original order          6302 non-null   float64
 19  Unnamed: 22             1 non-null      object
 20  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(19)
memory usage: 1.2+ MB

In [269]:
df.Age.unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [270]:
np.where(df.Age == 'Teen')

(array([ 182,  294,  526,  983, 1331, 1658, 3643, 5002, 5544]),)

In [271]:
df.at[182,'Age']=15

In [272]:
np.where(df.Age == 'Teen')

(array([ 294,  526,  983, 1331, 1658, 3643, 5002, 5544]),)

In [273]:
df['Age'] = df['Age'].replace('Teen', 15)

In [274]:
df['Age'] = df['Age'].replace('teen', 15)

In [275]:
df['Age'] = df['Age'].replace('Teens', 15)

In [276]:
df['Age'] = df['Age'].replace('20s', 20)

In [277]:
df['Age'] = df['Age'].replace('30s', 20)

In [278]:
df['Age'] = df['Age'].replace('40s', 20)

In [279]:
df['Age'] = df['Age'].replace('50s', 20)

In [280]:
df['Age'] = df['Age'].replace('60s', 20)

In [281]:
df['Age'] = df['Age'].replace("60's", 20)

In [282]:
df['Age'] = df['Age'].replace('18 months', .5)

In [283]:
df['Age'] = df['Age'].replace('2 to 3 months', .5)

In [284]:
df['Age'] = df['Age'].replace('months', .5)

In [285]:
df['Age'] = df['Age'].replace('46 & 34', 40)

In [286]:
df['Age'] = df['Age'].replace('12 or 13', 12)

In [287]:
df['Age'] = df['Age'].replace('33 or 37',33 )

In [288]:
df['Age'] = df['Age'].replace('7      &    31', 19 )

In [289]:
df['Age'] = df['Age'].replace('9 months', .5)

In [290]:
df['Age'] = df['Age'].replace('28 & 26', 26)

In [291]:
df['Age'] = df['Age'].replace('36 & 26', 30)

In [292]:
df['Age'] = df['Age'].replace('21 or 26', 21 )

In [293]:
df['Age'] = df['Age'].replace('? & 19', 19)

In [294]:
df['Age'] = df['Age'].replace('25 or 28', 25)

In [295]:
df['Age'] = df['Age'].replace('30 or 36', 30)

In [296]:
df['Age'] = df['Age'].replace('8 or 10',8 )

In [297]:
df['Age'] = df['Age'].replace('mid-30s', 35)

In [298]:
df['Age'] = df['Age'].replace('Elderly', 80)

In [299]:
df['Age'] = df['Age'].replace('\xa0 ', .5)

In [300]:
df['Age'] = df['Age'].replace('28, 23 & 30', 23)

In [301]:
df['Age'] = df['Age'].replace('mid-20s', 25)

In [302]:
df['Age'] = df['Age'].replace('18 to 22', 18)

In [303]:
df['Age'] = df['Age'].replace('"middle-age"', 30)

In [304]:
df['Age'] = df['Age'].replace('(adult)', 30)

In [305]:
df['Age'] = df['Age'].replace('13 or 18', 13)

In [306]:
df['Age'] = df['Age'].replace('20?', 20)

In [307]:
df['Age'] = df['Age'].replace('21 & ?', 21)

In [308]:
df['Age'] = df['Age'].replace('adult',30 )

In [309]:
df['Age'] = df['Age'].replace('30 & 32',30 )

In [310]:
df['Age'] = df['Age'].replace('18 or 20',18 )

In [311]:
df['Age'] = df['Age'].replace('>50', 49)

In [312]:
df['Age'] = df['Age'].replace('6½', 6)

In [313]:
df['Age'] = df['Age'].replace('17 & 35', 26)

In [314]:
df['Age'] = df['Age'].replace(' ', .5)

In [315]:
df['Age'] = df['Age'].replace('23 & 20', 20)

In [316]:
df['Age'] = df['Age'].replace('32 & 30', 30)

In [317]:
df['Age'] = df['Age'].replace('16 to 18', 16)

In [318]:
df['Age'] = df['Age'].replace('Ca. 33', 33)

In [319]:
df['Age'] = df['Age'].replace('9 & 12', 9)

In [320]:
df['Age'] = df['Age'].replace('25 to 35',25)

In [321]:
df['Age'] = df['Age'].replace('23 & 26',23 )

In [322]:
df['Age'] = df['Age'].replace('33 & 37', 33)

In [323]:
df['Age'] = df['Age'].replace('37, 67, 35, 27,  ? & 27', 27)

In [324]:
df['Age'] = df['Age'].replace('21, 34,24 & 35',24 )

In [325]:
df['Age'] = df['Age'].replace('50 & 30',30 )

In [326]:
df['Age'] = df['Age'].replace('X', .5)

In [327]:
df['Age'] = df['Age'].replace('34 & 19', 26)

In [328]:
df['Age'] = df['Age'].replace('33 & 26', 26)

In [329]:
df['Age'] = df['Age'].replace('MAKE LINE GREEN', .5)

In [330]:
df['Age'] = df['Age'].replace('"young"', 6)

In [331]:
df['Age'] = df['Age'].replace('7 or 8', 6)

In [332]:
df['Age'] = df['Age'].replace('17 & 16',16 )

In [333]:
df['Age'] = df['Age'].replace('F', .5)

In [334]:
df['Age'] = df['Age'].replace('Both 11', 11)

In [335]:
df['Age'] = df['Age'].replace('9 or 10', 9)

In [336]:
df['Age'] = df['Age'].replace('young', 6)

In [337]:
df['Age'] = df['Age'].replace('36 & 23', 23)

In [338]:
df['Age'] = df['Age'].replace("  ", .5)

In [339]:
df['Age'] = df['Age'].replace('A.M.', .5)

In [340]:
df['Age'] = df['Age'].replace('?    &   14', 14)

In [341]:
df['Age'] = df['Age'].replace('10 or 12', 12)

In [342]:
df['Age'] = df['Age'].replace('31 or 33',31 )

In [343]:
df['Age'] = df['Age'].replace('2½', 2)

In [344]:
df['Age'] = df['Age'].replace('13 or 14', 13)

In [345]:
df['Age'] = df['Age'].replace('', )

In [346]:
df.Age.unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', 20, '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '68', '51', '39', '58', 15, '47', '61',
       '65', '36', '66', '43', '9', '72', '59', '6', '27', '64', '23',
       '71', '44', '62', '63', '70', 0.5, '53', '77', '74', 26, '5', '86',
       18, 12, 40, 23, 30, 8, '84', 6, 21, '75', 33, 35, ' 30', 19, ' 28',
       16, '87', '67', 80, 25, '74 ', '45 ', '20 ', 49, 9, '1', 27, 24,
       13, ' 43', '81', '78', 11, 14, 31, 2], dtype=object)

In [347]:
df['Age'] = pd.to_numeric(df['Age'])

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6302 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   float64
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href                    6302 non-null   object
 18  original order          6302 non-null   float64
 19  Unnamed: 22             1 non-null      object
 20  Unnamed: 23             2 non-null      object
dtypes: float64(3), object(18)
memory usage: 1.2+ MB

In [349]:
#veo el mayor número de nulos que aún quedan... 
(df.isnull().sum()).sort_values(ascending=False)

Unnamed: 22               6301
Unnamed: 23               6300
Time                      3354
Species                   2838
Age                       2831
Sex                        565
Activity                   544
Location                   540
Fatal (Y/N)                539
Area                       455
Name                       210
Country                     50
Injury                      28
Investigator or Source      17
Type                         4
Year                         2
pdf                          0
href                         0
original order               0
Date                         0
Case Number                  0
dtype: int64

In [350]:
df=df.drop(['Unnamed: 22'], axis=1)

In [351]:
df=df.drop(['Unnamed: 23'], axis=1)

In [352]:
df.isnull().sum().sort_values(ascending=False)

Time                      3354
Species                   2838
Age                       2831
Sex                        565
Activity                   544
Location                   540
Fatal (Y/N)                539
Area                       455
Name                       210
Country                     50
Injury                      28
Investigator or Source      17
Type                         4
Year                         2
Date                         0
original order               0
href                         0
pdf                          0
Case Number                  0
dtype: int64

In [353]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href', 'original order'],
      dtype='object')

In [354]:
df.Sex.unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [358]:
df.Sex = df.Sex.replace('M ', 'M')

In [362]:
df.Sex = df.Sex.replace('lli', 'N')

In [364]:
df.Sex = df.Sex.replace ('.', 'N')

In [373]:
df.Sex.isnull().sum()

565

In [379]:
df[['Sex']] = df[['Sex']].fillna('N')

In [380]:
df.Sex.unique()

array(['N', 'F', 'M'], dtype=object)

In [384]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href', 'original order'],
      dtype='object')

In [392]:
df.to_csv("/content/drive/MyDrive/Ironhack/Archivos/attacks_clean.csv",index=False)

In [394]:
df_clean = pd.read_csv ('/content/drive/MyDrive/Ironhack/Archivos/attacks_clean.csv')
df.head(2)

  Case Number  ... original order
0  2018.06.25  ...         6303.0
1  2018.06.18  ...         6302.0

[2 rows x 19 columns]